.first_col{
    margin-top: 3rem;
}

.colImgs{
    width: 17rem;
}

.second_col{
    margin-top: 3rem;
}

.btn{
    margin-top: 3rem;
    box-shadow: 0.5rem 0.5rem black;
}

.hover{
    border: 0.5rem solid purple;
}